/*
  ========================================
  Fonts
  ========================================
*/

h1 {
	text-align: center;
	font-family: 'Knewave', cursive;
	color: #0DEBFF;
	font-size: 4em;
}

/*
  ========================================
  Buttons
  ========================================
*/
#btn-stop {
	background-color: red;
}

#button-container {
	/*margin-top: 50px;*/
	text-align: center;
}

/*
  ========================================
  Score Keeper & Timer / Final Screen as well
  ========================================
*/

#score, #timer, #final-message, #final-score {
	font-family: 'Knewave', cursive;
	font-size: 3em;
}

#final-message, #final-score {

	color: #26FFA8;
}

#score {
	color: #26FFA8;
	margin-left: 15px;
}

#timer {
	color: #FF0000;
	margin-right: 15px;
	float: right;
}

#final-content {
	text-align: center;
	margin: 50px;
}

#board {
	background-image: url('/img/litter_bkg.jpg');
	background-repeat:repeat;
}

/*
  ========================================
  Game Container
  ========================================
*/
#game-container {
	border: 1px solid #fff;
	background-color: gray;
	margin: 0 auto;
	width: 702px;

}

.grid {
	border: 1px solid #fff;
	height: 100px;
	width: 100px;
	background-color: #fff;
	text-align: center;
}

#box-0 {
	float: left;
}
#box-1 {
	float: left;
}
#box-2 {
	float: left;
}
#box-3 {
	float: left;
}
#box-4 {
	float: left;
}
#box-5 {
	float: left;
}
#box-6 {
	float: left;
}
#box-7 {
	float: left;
}
#box-8 {
	float: left;
}
#box-9 {
	float: left;
}
#box-10 {
	float: left;
}
#box-11 {
	float: left;
}
#box-12 {
	float: left;
}
#box-13 {
	float: left;
}
#box-14 {
	float: left;
}
#box-15 {
	float: left;
}
#box-16 {
	float: left;
}
#box-17 {
	float: left;
}
#box-18 {
	float: left;
}
#box-19 {
	float: left;
}
#box-20 {
	float: left;
}
#box-21 {
	float: left;
}
#box-22 {
	float: left;
}
#box-23 {
	float: left;
}
#box-24 {
	float: left;
}
#box-25 {
	float: left;
}
#box-26 {
	float: left;
}
#box-27 {
	float: left;
}

.clear {
	clear: both;
}


body {
	cursor: url('/img/mouse_.png'), auto;
}


.display-hide {
	display: none;
}

