/*
  ========================================
  Navbar
  ========================================
*/
/*changes the height of the navbar*/
.navbar-brand,
.navbar-nav li a {
    line-height: 48px;
    height: 75px;
}

/* alters dropdown navbar */
 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    border: none;
    vertical-align: center;
    color:black;
    line-height: 30px;
    height: 30px;
    background: #fff;
    box-shadow: 5px 5px 5px #888888;
    
  }
.navbar-default .navbar-nav .open .dropdown-menu  {
	border-radius: 10px;
/*	border-left: 4px solid green;
	border-right: 4px solid green;*/
	/*background-color: green;*/
}


/*changes the navbar background color */
.navbar-default {
	/*background-color: rgba(189, 195, 199, 0.75);*/
	background-color: #fff;
	border-color: #adaca8;
}
.navbar-default .navbar-brand {
	color: #58f9bf;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #58f9bf;
}
.navbar-default .navbar-text {
	color: #f9fdff;

}
/*changes navbar link colors*/
.navbar-default .navbar-nav > li > a {
	color: #898989;
}
/*Changes navbar-right link color*/
.navbar-default .navbar-right > li > a {
	color: #898989;
}
/*changes navbar hover color*/
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #74cf74;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #58f9bf;
	background-color: #5daafa;
}
/*changes color of navbar dropdown link when clicked
or background color for dropdown when active*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #133AFF;
	background-color: #13B4FF;
}
.navbar-default .navbar-toggle {
	background-color: #fea6de;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #74cf74;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #f9fdff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #f9fdff;
}
.navbar-default .navbar-link {
	color: #f9fdff;
}
.navbar-default .navbar-link:hover {
	color: #58f9bf;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #f9fdff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #58f9bf;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #58f9bf;
		background-color: #5daafa;
	}
}

/*
  ========================================
  General
  ========================================
*/

h1, h2, h3, h4, h5, h6 {
	font-family: "Open Sans", Arial;
	color: #898989;

}
h1 {
    font-size: 2em;
}

h2 {
	/*text-align: center;*/
}

/*
  ========================================
  Why Choose Us Page
  ========================================
*/

#why-us-container {
    padding-top: 85px;
}

#why-us-headline, {
    text-align: center;
}

dl {

}

dd {
    margin: 0;
    padding: 1em 0;
}

dt {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 2em;
    background-color: #74cf74;
    border-bottom: 1px solid #C5C5C5;
    border-top: 1px solid white;
    text-align: center;
    color: #fff;
}

dt:first-child {
    border-top: none;
}

dt:nth-last-child(2) {
    border-bottom: none;
}

.display-hide {
    display: none;
}

/*
  ========================================
  intro-Container
  ========================================
*/

.intro-container {
	padding-top: 75px;
	background-color: rgb(108, 122, 137);
	color: black;
	/*background:url('../imgs/Maid_lg.jpg')no-repeat;*/
	/*height: 800px;*/

}

.intro-img {
	width: 100%;
	margin: auto;
}

.img-responsive {
	margin: auto;
	width: 980px;
}

#intro-headline {
	color:#E0E8E6;
	text-align: center;
	font-size: 2em;
	padding-bottom: 20px;
}

#opening-header {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

#state, 
#gender, 
#DOB, 
#coverage-amount, 
#coverage-duration, 
#smoking-status, 
#health-class {
	margin-bottom: 7px;
}

.white-tooltip + .tooltip > .tooltip-inner {
	background-color: #fff;
	color: black;
	text-align: left;
}

/*why choose us button*/
.us_btn {
	margin: 10px;
}

/*
  ========================================
  Services Section
  ========================================
*/


.services-container {
	background-color: #74cf74;
	height: 400px;
	padding-top: 75px;
		/*rgba(44, 62, 80,1.0);*/
}

#quote-header {
	color: #fff;
	text-align: center;
	padding-bottom: 50px;
}



#quoting-engine {

}
/*
  ========================================
  Three Columns
  ========================================
*/
.three-columns {
	color: #2949D6;
	text-align: center;
	vertical-align: middle;
	font-family: 'open-sans';
	font-size: 40px;
	background-color: #fff;
	height: 400px;
} 

.three-column {
	background-color: #fff;
}

/*
  ========================================
  Forms
  ========================================
*/

/*.btn-width {
	margin: 10px 33.335%;
	width: 33.33%;
}*/

/*
  ========================================
  Footer
  ========================================
*/

#footer {
	background-color: rgba(126, 125, 133, .5);
	text-align: center;
	/*height: 250px;*/
	margin-bottom: 0;
	color: white;
	padding-top: 15px;

}

#footer-col-1 {
	background-color: red;
}
#footer-col-2 {
	background-color: yellow;
}
#footer-col-3 {
	background-color: orange;
}
.footer-a {
	background-color: blue;
}



.footer-links>li>a {
	list-style: none;
	color: #fff;
}

.footer-links {
	list-style: none;
	text-align: left;
}

#sub-footer {
	background-color: #b5b8c4;
	text-align: center;
	/*height: 75px;*/
	margin-bottom: 0;
	color: white;
}

/*
  ========================================
  Misc
  ========================================
*/

.container-form {
	background-color: rgba(250, 250, 250, 1);
	border: 1px solid #e7e7e7;
	box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	padding: 19px;
	margin-bottom: 35px;
	margin-top: 35px;
}

.centered
{
    text-align:center;
}


#photo-philly {
width: 100%;
}

/*
  ========================================
  Slider
  ========================================
*/

